@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');

body {
    font-family: 'Jost', sans-serif;
    background-color: rgb(226, 226, 226);
}

tr:nth-child(even) {
    background-color: gray;
}

tr:nth-child(odd) {
    background-color: gainsboro;
}

tr:hover {
    background-color: rgb(87, 87, 87);
}

#parteinicial {
    margin-left: 20px;
    font-size: 20px;
}

legend {
    font-size: 25px;
    border-radius: 10%;
    background-color: white;
}

fieldset{
    background-color: rgb(221, 221, 221);
}

table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

th,td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #f2f2f2;
}

.dados {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    margin-left: 50px;
    margin-right: 50px;
}
input{
    max-width: 200px;
}
